{% extends "layout.html" %}
{% block content %}
    <div class="content-section">
        <form action="">
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Password Generator</legend>
                <div class="form-group">
                    <input class="form-control form-control-lg" type="text" id="id1" value="">
                </div>
            </fieldset>
            <div class="form-group">
                <button type="button" class="btn btn-outline-info" onclick="document.getElementById('id1').value = myGenerator()">Generate</button>
            </div>
        </form>
    </div>
{% endblock content %}