{% extends "layout.html" %}
{% block content %}
    {% if current_user.is_authenticated %}
        {% for password in passwords %}
            <article class="media content-section">
                <a class="article-title fill-div" href="{{ url_for('update_password', password_id=password.id) }}">
                    <div class="media-body">
                        <h4>{{ password.website }}</h4>
                        {% if password.email %}
                            <p class="article-content">{{ password.email }}</p>
                        {% else %}
                            <p class="article-content">{{ password.username }}</p>
                        {% endif %}   
                    </div>
                </a>
            </article>
        {% endfor %}
    {% endif %}
{% endblock content %}